@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
*{
  box-sizing: border-box;
}

/* fonts */
@font-face {
  font-family: 'Roboto';
  src: url(../vendor/font/Roboto/Roboto-Regular.ttf);
}

body{
  font-family:"Roboto",sans-serif;
}

/* wrapper */
.wrapper {
  max-width: 1350px;
  width: 79%; 
  margin: 0 auto;
}

/* header styling starts here */
header{background-color: #1e202b;}

header .wrapper {
  padding: 50px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;

/* logo starts here */
}
.logo h1{
  float: left;
  width: 27%;
  padding-right: 10px;
}

.logo span{
  color: #fff;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo p{
  padding-top: 7px;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto",sans-serif;
  opacity: .5;
}

.logo h1 img{width: 100%;}

/* logo ends here */

/* navbar strats here */
.navbar{
  display: flex;
  list-style: none;
}

.navbar > li{
  list-style-position: inside;
}

.navbar >li >a{
  padding: 7px 24px;
  margin: 0 7px;
  position: relative;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  opacity: .8;
}

.navbar >li >a::before,.active{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-top: 2px solid #009ad8;
  border-left: 2px solid #009ad8;
  border-radius: 15px;
  transform-origin: left;
  transition: .5s;
  box-sizing: border-box;
  opacity: 0;
}

.navbar >li >a::after,.active{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-bottom: 2px solid #009ad8;
  border-right: 2px solid #009ad8;
  border-radius: 15px;
  transform-origin: left;
  transition: .5s;
  box-sizing: border-box;
  opacity: 0;
}

.navbar >li >a:hover::before,.active{
  width: 100%;
  height: 100%;
  opacity: 1;
}

.navbar >li >a:hover::after{
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* header ends here */

.weathersection{
  height: 330px;
  width: 100%;
  background: url(../images/photo-9@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.weathersection{
  position: relative;
}
.searchbar{
  padding: 5px;
  width: 79%;
  position: absolute;
  top: 10%;
  left: 50%;
  background: #1e202b;
  border-radius: 20px;
  line-height: 25px;
  transform: translate(-50%,-50%);
}

#searchweather{
  width: 8%;
  padding: 10px;
  border: none;
  float: right;
  background-color: #009ad8;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  outline: none;
}

#inputweather{
  width: 90%; 
  padding-left: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  background-color: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 35px;
}

.weather_card{
  width: 40%;
  border-radius: 15px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  background-color: #323544;
  transform: translate(-50%,50%);
  overflow: hidden;
}

.weather_card .days{
  background-color: #2d303d;
  padding: 15px 11px;
  font-size: 12px;
  opacity: 0.8;
}

.weather_card .days #date{
  float: right;
  color: #fff;
}

.weather_card .days #day{
  color: #fff;
}

#city{
  margin-left: 3%;
  margin-top: 8%;
  font-size: 17px;
  font-family: "Roboto",sans-serif;
  color: #fff;
  display: block;
}
#temp{
  margin-left: 3%;
  margin-top: 3%;
  font-family: "Roboto",sans-serif;
  font-size: 70px;
  color: #fff;
  font-weight: 900;
}

.weather_icon{
  padding-left: 10px;
  display: inline-block;
  width: 15%;
  font-size: 70px;

}

.weather_icon >img{
  width: 100%;
  margin-bottom: 20px;
}

.wind{
  display: flex;
  list-style: none;
  margin-left: 3%;
  margin-bottom: 5%;
  align-items: center;
}

.wind img{
  width: 30%;
}

.wind span{
  color: #fff;
  font-size: 12px;
  opacity: .6;
}

/* livcamera  starts here */

.live_cameras{
  background-color: #1e202b;
}
.citycameras{
  display: flex;
  list-style: none;
  width: 100%;
 
}

.live_cameras .wrapper{
  padding: 300px 0px 100px 0px;
}

.live_cameras h2{
  padding-left: 20px;
  font-size: 30px;
  font-family: "Roboto",sans-serif;
  color: #fff;

}

.citycameras li{
  width: 25%;
  padding: 10px;
}

.citycameras li h3{
  padding-top: 20px;
  font-size: 15px;
  color: #fff;
  opacity: .8;
}

.citycameras li span{
  font-size: 10px;
  color: #fff;
  opacity: .8;
}

.city_image{
  position: relative;
}

.cityimage{
  width: 100%;
  border-radius: 10px;
}

.play{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* live cameras ends here */

/* weatherdescription section starts here */

.weatherdescription{
  background-color: #262936;
}

.weather_info{
  display: flex;
  list-style: none;
  padding: 80px 0px;
}

.weather_info li{
  width: 33%;
}

.weather_info li span{
  font-size: 25px;
  color: #009ad8;
}

.weather_info li .content{
  width: 80%;
  float: right;
}

/* weatherdescription section ends here */

/* app_contents section starts here */

.app_contents{
  background-color: #1e202b;
}

.appcontent{
  padding-top: 90px;
  display: flex;
  list-style: none;
}

.appcontent > li{
  padding: 10px;
  width: 33%;
  border: 1px solid red;
  color: #fff;
}

.appcontent > li h2{
  font-size: 32px;
  padding-bottom: 20px;
  opacity: .8;
}

.appcontent > li ul{
  list-style: none;
}

/* featurelist starts here */
.feature_list h3{
  font-size: 12px;
  font-weight: 600;
}

.feature_list h3::before{
  content: url(../images/arrow.png);
  padding-right: 10px;
}

.feature_list p{
  padding: 20px 0px 20px 22px;
  font-size: 12px;
  opacity: .7;
}

/* featurelist ends here */

/* weather_analysis starts here */
.analysis_list li{
  padding: 8px 0px;
  border-bottom: 1px solid #262936;
}

.analysis_list li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  opacity: .7;
}

.analysis_list li a::before{
  content: url(../images/arrow.png);
  padding-right: 10px;
}
/* weather_analysis ends here */