@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

/* fonts */
@font-face {
  font-family: 'Roboto';
  src: url(../vendor/font/Roboto/Roboto-Regular.ttf);
}

body{
  font-family:"Roboto",sans-serif;
  
}

/* wrapper */
.wrapper {
  max-width: 1350px;
  width: 79%; 
  margin: 0 auto;
}

/* header styling starts here */
header{background-color: #1e202b;}

header .wrapper {
  padding: 5rem 0px 4rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

/* logo starts here */
.logo h1{
  padding-right: 1rem;
  width: 27%;
  float: left;
}

.logo span{
  color: #fff;
  font-size: 1.4rem;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo p{
  padding-top: .7rem;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Roboto",sans-serif;
  opacity: .5;
}

.logo h1 img{width: 100%;}

/* logo ends here */

/* navbar strats here */
.navbar{
  display: flex;
  list-style: none;
}

.navbar >li >a{
  padding: .7rem 2rem;
  margin: 0 .7rem;
  position: relative;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto",sans-serif;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: capitalize;
  opacity: .8;
}

.active{
  border: 2px solid #009ad8;
  border-radius: 1.5rem;
}

.navbar >li >a::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-top: 2px solid #009ad8;
  border-left: 2px solid #009ad8;
  border-radius: 1.5rem;
  transform-origin: left;
  transition: .5s;
  box-sizing: border-box;
  opacity: 0;
}

.navbar >li >a::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-bottom: 2px solid #009ad8;
  border-right: 2px solid #009ad8;
  border-radius: 1.5rem;
  transform-origin: left;
  transition: .5s;
  box-sizing: border-box;
  opacity: 0;
}

.navbar >li >a:not(.active):hover::before{
  width: 100%;
  height: 100%;
  opacity: 1;
}

.navbar >li >a:not(.active):hover::after{
  width: 100%;
  height: 100%;
  opacity: 1;
}

/* header ends here */

/* weather section starts here */
.weathersection{
  height: 33rem;
  width: 100%;
  position: relative;
  background: url(../images/banner@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.searchbar{
  padding: 5px;
  width: 79%;
  position: absolute;
  top: 25%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e202b;
  border-radius: 2rem;
  line-height: 2.5rem;
  transform: translate(-50%,-50%);
}

.searchbar input[type="text"]{
  padding-left: 2%;
  width: 70%;
  color: #fff;
  background-color: inherit;
  outline: none;
  border: none;
}

.searchbar input[type="submit"]{
  padding: 10px;
  min-width: 70px;
  width: 10%;
  height: 100%;
  border: none;
  border-radius: 5rem;
  float: right;
  outline: none;
  color: #fff;
  background-color: #009ad8;
}

.weather_card{
  width: 40%;
  border-radius: 1.5rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  background-color: #323544;
  transform: translate(-50%,50%);
  overflow: hidden;
}

#error{
  padding: 5% 3%;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 15%;
  left: 0;
  background-color: #323544;
  color: #009ad8;
  font-size: 5rem;
  font-weight: 600;
  visibility: hidden;
  z-index: 10000;
}

#error h2, #error span{
  font-size: 2rem;
  text-align: center;
}


#error img{
  padding: 1rem;
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 80%;
}

.weather_card .days{
  background-color: #2d303d;
  padding: 1.5rem 1.1rem;
  font-size: 1.2rem;
  opacity: 0.8;
}

#month,#date{
  color: #fff;
  padding-left: .5rem;
}

.weather_card .days div{float: right;}
.weather_card .days div{float: right;}
.weather_card .days #day{color: #fff;}

#city{
  margin-left: 3%;
  margin-top: 8%;
  font-size: 1.7rem;
  color: #fff;
  font-family: "Roboto",sans-serif;
  display: block;
}

#temp{
  margin-left: 3%;
  margin-top: 3%;
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 7rem;
  font-weight: 900;
}

.weather_icon{
  padding-left: 1rem;
  width: 15%;
  display: inline-block;
  font-size: 7rem;
}

.weather_icon >img{
  width: 100%;
  margin-bottom: 2rem;
}

.wind{
  display: flex;
  list-style: none;
  margin-left: 3%;
  margin-bottom: 5%;
  align-items: center;
}

.wind img{
  width: 30%;
}

.wind span{
  color: #fff;
  font-size: 1.2rem;
  opacity: .6;
}

/* weather section ends here */

/* livcamera  starts here */
.live_cameras{background-color: #1e202b;}

.citycameras{
  width: 100%;
  display: flex;
  list-style: none;
}

.live_cameras .wrapper{padding: 22rem 0rem 6rem 0rem;}

.live_cameras h2{
  padding-left: 2rem;
  color: #fff;
  font-size: 3rem;
  font-family: "Roboto",sans-serif;
}

.citycameras li{
  padding: 1rem;
  width: 25%;  
}

.citycameras li h3{
  padding-top: 2rem;
  color: #fff;
  font-size: 1.5rem;
  opacity: .8;
}

.citycameras li span{
  color: #fff;
  font-size: 1rem;
  opacity: .8;
}

.city_image{position: relative;}

.cityimage{
  width: 100%;
  border-radius: 1rem;
}

.play{
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* live cameras ends here */

/* weatherdescription section starts here */

.weatherdescription{background-color: #262936;}

.weather_info{
  padding: 7rem 0px;
  display: flex;
  list-style: none;
}

.weather_info li{width: 33%;}

.weather_info li span{
  color: #009ad8;
  font-size: 2.5rem;  
}

.content{
  width: 80%;
  float: right;
  color: #fff;
}

.content h2{
  font-size: 1.4rem;
  opacity: .9;
}

.content p{
  padding: 1rem 2rem 1rem 0rem;
  font-size: 1.2rem;  
  opacity: .6;
  letter-spacing: .5px;
  line-height: 1.8rem;
}

/* weatherdescription section ends here */

/* app_contents section starts here */

.app_contents{background-color: #1e202b;}

.appcontent{
  padding: 8rem 0px;
  display: flex;
  list-style: none;
}

.appcontent > li{
  padding: 1rem;
  width: 33%;
  color: #fff;
}

.appcontent > li h2{
  padding-bottom: 2rem;
  font-size: 3.2rem;
  opacity: .8;
}

.appcontent > li ul{list-style: none;}

/* featurelist starts here */
.feature_list h3{
  font-size: 1.2rem;
  font-weight: 600;
}

.feature_list h3::before{
  content: url(../images/arrow.png);
  padding-right: 1rem;
}

.feature_list p{
  padding: 2rem 0px 2rem 2.2rem;
  font-size: 1.2rem;
  opacity: .7;
}
/* featurelist ends here */

/* weather_analysis starts here */
.analysis_list li{
  padding: .8rem 0px;
  border-bottom: 1px solid #262936;
}

.analysis_list li:last-child{
  border-bottom: none;
}

.analysis_list li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  opacity: .7;
}

.analysis_list li a::before{
  content: url(../images/arrow.png);
  padding-right: 1rem;
}
/* weather_analysis ends here */

/* awesome_photos starts here */
.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photos li{width: 33%;}

.photo img{
  width: 100%;
  padding: .5rem;
}
/* awesome_photos ends here */

/* footer starts here */
footer{
  padding-top: 6rem;
  background-color: #262936;
}


.subscription{
  padding: .3rem;
  width: 70%;
  height: 5rem;
  border-radius: 5rem;
  background-color: #1e202b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.subscription input[type="text"]{
  padding-left: 2%;
  width: 90%;
  background-color: inherit;
  outline: none;
  border: none;
}

.subscription input[type="submit"]{
  min-width: 70px;
  width: 10%;
  height: 100%;
  border: none;
  border-radius: 5rem;
  float: right;
  outline: none;
  color: #fff;
  background-color: #009ad8;
}

.footer-social-icons{
  display: flex;
  list-style: none;
  float: right;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.footer-social-icons a{
  color:#009ad8 ;
  font-size: 1.5rem;
  line-height: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
}

.footer-social-icons li:hover{
  transform: scale(1.1);
  transition: ease;
}

.footer-social-icons li{
  width: 4rem;
  height: 4rem;
  margin-left: .5rem;
  background-color: #1e202b;
  border-radius: 50%;
  position: relative;
}

footer p{
  padding: 3rem 0px;
  font-size: 1.2rem;
  clear: both;
  color: #fff;
  opacity: .6;
}
.twitter::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  text-indent: 0;
}

.fb::before{
  content: "\f39e";
  float: right;
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  text-indent: 0;
}

.gplus::before{
  content: "\f0d5";
  float: right;
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  text-indent: 0;
}

.pinterest::before{
  content: "\f099";
  float: right;
  font-family: "Font Awesome 5 Brands";
  font-weight: 500;
  text-indent: 0;
}

/* hamburgermenu starts here */
.hamburger-menu{
  width: 40px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border: 2px solid #009ad8;
  border-radius: 50%;
  padding: 5px;
}

.hamburger-menu div{
  width: 25px;
  height: 3px;
  background-color: #009ad8;
  border-radius: 20%;
  position: relative;
  font-size: 0px;
  transition: .5s ease;
}

.hamburger-menu div::before,
.hamburger-menu div::after{
  content: "";
  float: right;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #009ad8;
  border-radius: 20%;
  transition: .5s ease;
}

.hamburger-menu div::before{
  transform: translateY(-6px);
}

.hamburger-menu div::after{
  transform: translateY(6px);
}

.change.hamburger-menu div::before{
  transform: translateY(0) rotate(-45deg);
  transition: .5s ease;
}

.change.hamburger-menu div::after{
  transform: translateY(0) rotate(45deg);
  transition: .5s ease;
}

.change.hamburger-menu div{background-color: transparent; }

/* hamberger menu ends here */

/* preloader starts here */
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #1e202b
              url(../images/Eclipse-1s-200px.gif) no-repeat center;
  z-index: 9999;
}
/* preloader ends here */

/* styles for gallary page */
.stars{
  display: flex;
  padding: 1rem;
}
.stars li{
  list-style: none;
}

.stars li{
  text-indent: -9999px;
  font-size: 1.5rem;
}

.stars li:not(:last-child){
  color: #009ad8;
} 

.stars li::before{
  content: "\f005";
  float: right;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 6%;
  
}
.cards>li{
  width: 48%;
  border-radius: 1.5rem;
  background-color: #262936;
  margin: 1%;
  overflow: hidden;
}

.cards>li figure{
  width: 50%;
  height: 100%;
  float: left;
}

.cards>li figure img{
  width: 100%;
  height: 100%;
}
.contents{
  display: inline-block;
  width: 50%;
  color: #fff;
  padding: 1rem;
}

.contents h2{
  font-size: 2rem;
  padding: 1rem 0rem;
  opacity: .8;
}
.contents p{
  font-size: 2rem;
  letter-spacing: .5px;
  opacity: .5;
}

.gallarycards{
  background-color: #1e202b;
}

.navigation{
  background-color: #1e202b;
}

.sitebar{
  background-color: #262936;
  width: 100%;
  margin: 0 auto;
  border-radius: 2.5rem;
  padding: 1.8rem;
  color: #fff;
}

.sitebar span{
  padding: .5rem;
  font-size: 1.2rem;
  opacity: .6;
}

.sitebar span:last-child::before{
  content: "\2192";
  padding-right: 1rem;
  opacity: .5;
  font-size: 1.5rem;
} 
/* new styles ends here  */

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  html{font-size: 50%;}

  .wrapper {
    width: 95%; 
    margin: 0 auto;
  }

  .hamburger-menu{
    display: flex;
    position: absolute;
    top: 3rem;
    right: 1rem;
  }

  header .wrapper{
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
  }

  nav{
    width: 100%;
    text-align: center;
    display: none;
  }

  .navbar{
    margin: 5rem 0px .5rem 0px;
    border-radius: 15px;
    background-color: #262936 ;
    color: white;
    width: 100%;
    flex-direction: column;
  }

  .navbar li{
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #2e303d;
    opacity: .7;
  }

  .navbar li:last-child{border: none;}
  .navbar >li >a{font-weight: 400;}
  .navbar >li >a:hover,.active{color: #009ad8;}
  .navbar >li >a::after,.navbar >li >a::before,.active{border: none;}
  
  .logo{
    position: absolute;
    top: 30px;
    left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  header{padding-bottom: 6rem;}
  html{font-size: 40%;}
  .logo h1{width: 35%;}
  .logo span{font-size: 3rem;}
  .logo p{font-size: 1.4rem;}
  .hamburger-menu{top: 4rem;}
  .navbar{margin: 9rem 0px .5rem 0px;}
  .cards{flex-direction: column;}
  .cards > li{width: 98%;}
  .contents h2{font-size: 4rem;}
  .contents p{font-size: 3.5rem;}

}

@media only screen and (max-width: 645px) {
  header{padding-bottom: 6rem;}
  .weathersection{height: 60rem;}
  .weather_card{width: 93%;}
  .card-conatiner{padding: 2%;}
  .weather_card .days {padding: 3.5rem 1.1rem;}
  #city{font-size: 3rem;}
  .weather_card .days{font-size: 2rem;}
  .wind span{font-size: 3rem;}
  #temp{font-size: 15rem;}
  #searchweather{width: 10%;}
  .citycameras{flex-direction: column;}
  .citycameras li{width: 100%;}
  .citycameras li h3{font-size: 3.5rem;}
  .live_cameras .wrapper {padding: 33rem 0rem 15rem 0rem;}
  .appcontent {flex-direction: column;}
  .appcontent > li h2 {font-size: 6.5rem;}
  .analysis_list li a {font-size: 2.2rem;}
  .subscription input[type="submit"] {width: 30%;}

  .weather_icon{
    display: block;
    width: 25%;
  }

  .searchbar{
    width: 93%;
    border-radius: 5rem;
  }

  .live_cameras h2{
    font-size: 8rem;
    font-family: "Roboto",sans-serif;
  }

  .citycameras li span{
    font-size: 2rem;
    line-height: 6rem;
  }

  .weather_info {
    flex-direction: column;
    padding: 10rem 0px;
  }

  .weather_info li {
    width: 100%;
    padding-bottom: 1rem;
  }

  .weather_info li span {font-size: 4.5rem;}
  .content h2 {font-size: 3rem;}
  .content{width: 83%;}

  .content p {
    font-size: 2.5rem;
    padding: 1rem 4rem 1rem 0rem;
    letter-spacing: 0.25px;
    line-height: 5rem;
  }
  
  .appcontent > li {
    padding: 1rem;
    width: 100%;
  }
  
  .feature_list h3 {
    font-size: 3rem;
    letter-spacing: .1rem;
  }
  .feature_list p {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .subscription {
    padding: .5rem;
    width: 100%;
    height: 7rem; 
  }

  .footer-social-icons {
    float: left;
    padding-top: 3rem;
  }
  .footer-social-icons li {
    width: 6rem;
    height: 6rem;
    margin-left: 0.5rem;
  }

  #error h2, #error span{
    font-size: 4rem;
    text-align: center;
  }
}
